<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="UTF-8">
<title>List of Pet Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="org.izce.petclinic.model.Owner"*/-->
<h2 th:text="'List of Owners'">List of Owners here!</h2>

<table class="table table-striped">
	<thead>
	<tr>
	<th style="width: 100px;">Id</th>
	<th style="width: 200px;">First Name</th>
	<th style="width: 200px;">Last Name</th>
	</tr>
	</thead>
	
	<tbody>
	<tr th:each="owner : ${owners}">
		<td th:text="${owner.id}">1</td>
		<td th:text="${owner.firstName}">Jane</td>
		<td th:text="${owner.lastName}">Doe</td>
	</tr>
	</tbody>
</table>

</body>
</html>
